
.content {
    overflow: hidden;
    height: auto;
    padding: 20px;
    width: 100%;
}

mat-form-field {
    width: 100%;
  }

textarea { display: block; width: 100%; }

.blue { color: #5C95FF; }
.green { color: #04D6AF; }
.yellow { color: #F1D302; }
.purple { color: #381C75; }
.red { color: #FF285B; }
.gray { color: gray }
