
.content {
    overflow: hidden;
    height: auto;
    padding: 20px;
    width: 100%;
}

mat-form-field {
    width: 100%;
  }

textarea { display: block; width: 100%; }

.blue { color: #6B79F6; }
.green { color: #177E89; }
.yellow { color: #FFC857; }
.purple { color: #AFA5EB; }
.red { color: #e74a4a; }
.gray { color: gray }
