.outer-card {
    margin: 10px;
    min-width: 300px;
    max-width: 300px;
    padding: 10px;
    background: #381C75;
  }

  .inner-card {
      margin: 5px 0;
      cursor: pointer;
  }

  .cdk-drag-animating {
    transition: transform 300ms ease;
  }

  .tasks.cdk-drop-list-dragging .cdk-drag {
    transition: transform 300ms ease;
  }

.cdk-drag-placeholder {
  opacity: 0.5;
}

.blue { background: #5C95FF; color: #131200; }
.green { background: #04D6AF; color: #131200;  }
.yellow { background: #F1D302; color: #131200 }
.purple { background: #381C75; }
.red { background: #FF285B; }

.gray { background: gray; text-decoration: line-through; }
